shoppingcart {

  .scroll-content {
    @include horizontal-space();
    @include vertical-space();
    background-color: color($colors, background);

    .btns {

      button {
         white-space: normal;
         width: 100%;
      }

      .checkout-btn {
        background-color: #ADBDC5;
      }
    }

    .coupon-img {
      position: absolute;

      html[dir='ltr'] & {
        left: 0;
        padding-left: 10px;
      }

      html[dir='rtl'] & {
        right: 0;
        padding-right: 10px;
      }
    }
  }
}
