<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759857519813-1i6k8f3lgfdeadjtfgmbsfksdbocsmak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759857519813-1i6k8f3lgfdeadjtfgmbsfksdbocsmak</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>759857519813-cr3a0sqrgseco32lros3kc6br5ig7avq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCioQkjgbmhZvpAWEUp4xDx4iF-yXgOmN4</string>
	<key>GCM_SENDER_ID</key>
	<string>759857519813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.com.yorkmobilestore</string>
	<key>PROJECT_ID</key>
	<string>york-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>york-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759857519813:ios:22e319641b524e53b764ac</string>
	<key>DATABASE_URL</key>
	<string>https://york-mobile-app.firebaseio.com</string>
</dict>
</plist>