<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519553487235-4r3sq8o72r007pvnf7tclebgn9pvtbbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519553487235-4r3sq8o72r007pvnf7tclebgn9pvtbbd</string>
	<key>API_KEY</key>
	<string>AIzaSyDo98v7moSv-NMGM9_j3uW2k3CnoT7edQM</string>
	<key>GCM_SENDER_ID</key>
	<string>519553487235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.com.yorkmobilestore</string>
	<key>PROJECT_ID</key>
	<string>york-store-app</string>
	<key>STORAGE_BUCKET</key>
	<string>york-store-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519553487235:ios:4a0bd6047a889d6d44a6b6</string>
</dict>
</plist>