address {
  
  font-style: normal;

  .state {
    padding: 0 !important;
  }

  .login-text {
    color: rgba(33,150,243,1);
    font-family: Roboto;
    font-size: 15.12px;
    cursor: pointer;
  }

  .have-acc-text {
    color: rgba(38,50,56,0.38);
    font-family: Roboto;
    font-size: 15.12px;
  } 
}
