complaint-request {

  .scroll-content {

    @include horizontal-space();
    @include vertical-space();

    .comments {
      min-height: 100px;
      width: 100%;
      resize: vertical;
    }
  }
}
