<ion-header>
  <header></header>
</ion-header>

<ion-content>
  <div class="page-subTitle" *ngIf="requestType == 'CaseRequest'">
    {{"SERVICES.ServiceDetails" | translate}}
  </div>
  <div class="page-subTitle" *ngIf="requestType == 'ComplainRequest'">
    {{"SERVICES.COMPLAINT-REQUEST.SubmitComplaint" | translate}}
  </div>
  <div class="page-subTitle" *ngIf="requestType == 'ContractRequest'">
    {{"SERVICES.ContractDetails" | translate}}
  </div>

  <!-- Contract More Details -->
  <div class="delivery-date" *ngIf="requestType == 'ContractRequest'">
    <span>{{"SERVICES.ServiceNo" | translate}}</span>&nbsp;
    <span>{{requestData?.jci_name}}</span>
  </div>

  <!-- Complaint More Details -->
  <div class="delivery-date" *ngIf="requestType == 'ComplainRequest'">
    <span>{{"SERVICES.ComplaintNumber" | translate}}</span>&nbsp;
    <span>{{requestData?.jci_name}}</span>
  </div>

  <!-- Service Details -->
  <div class="delivery-date" *ngIf="requestType == 'CaseRequest'">
    <span>{{"SERVICES.ServiceNo" | translate}}</span>&nbsp;
    <span>{{requestData?.jci_name}}</span>
  </div>

  <!-- All Other Request Details -->
  <div class="delivery-date" *ngIf="requestType == 'All'">
    <span>{{requestData?.jci_name}}</span>
  </div>

  <div class="padding-16"></div>

  <!-- All Other Requests Details-->
  <div *ngIf="requestType == 'All'">
    <div class="personal-info">
      <div>{{"SERVICES.Region" | translate}}:</div>
      <div>
        {{requestData?.jci_region ? ( translate.currentLang == 'ar' ?
        requestData?.jci_region?.name : requestData?.jci_region?.nameEn ) : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.City" | translate}}:</div>
      <div>
        {{requestData?.jci_city ? ( translate.currentLang == 'ar' ?
        requestData?.jci_city?.name : requestData?.jci_city?.nameEn) : ''}}
      </div>
    </div>
    <div class="padding-16"></div>
    <div *ngIf="requestData?.jci_projectcode">
      <div class="personal-info">
        <div>{{"SERVICES.SERVICE-REQUEST.ProjectCode" | translate}}:</div>
        <div>{{requestData?.jci_projectcode}}</div>
      </div>
      <div class="personal-info">
        <div>{{"SERVICES.SERVICE-REQUEST.Location" | translate}}:</div>
        <div>{{requestData?.jci_customerlocation.name}}</div>
      </div>
      <div class="personal-info">
        <div>{{"SERVICES.contract" | translate}}:</div>
        <div>{{requestData?.jci_contractnumber}}</div>
      </div>
      <div class="personal-info">
        <div>{{"SERVICES.accountNumber" | translate}}:</div>
        <div>
          {{requestData?.jci_accountnumber ||
          requestData?.jci_contractaccountnumber}}
        </div>
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Description" | translate}}:</div>
      <div>{{requestData?.jci_comments}}</div>
    </div>
    <div class="padding-16"></div>
    <div class="personal-info">
      <div><b>{{"SERVICES.RequestStatus" | translate}}:</b></div>
      <div>{{requestData?.jci_status}}</div>
    </div>
  </div>

  <!-- Complaint Details-->
  <div *ngIf="requestType == 'ComplainRequest'">
    <div class="personal-info">
      <div>{{"SERVICES.Name" | translate}}:</div>
      <div>{{requestData?.jci_firstname}} {{requestData?.jci_lastname}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Mobile" | translate}}:</div>
      <div>{{requestData?.jci_mobile}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Email" | translate}}:</div>
      <div>{{requestData?.jci_email}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Region" | translate}}:</div>
      <div>
        {{requestData?.jci_region ? ( translate.currentLang == 'ar' ?
        requestData?.jci_region?.name : requestData?.jci_region?.nameEn ) : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.City" | translate}}:</div>
      <div>
        {{requestData?.jci_city ? ( translate.currentLang == 'ar' ?
        requestData?.jci_city?.name : requestData?.jci_city?.nameEn ) : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.issue" | translate}}:</div>
      <div>
        {{requestData?.jci_issue ? ( translate.currentLang == 'ar' ?
        requestData?.jci_issue?.name : requestData?.jci_issue?.nameEn ) : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Description" | translate}}:</div>
      <div>{{requestData?.jci_comments}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.contract" | translate}}:</div>
      <div>
        {{requestData?.jci_contract == 'True' ? ("SERVICES.yes" | translate) :
        ("SERVICES.no" | translate)}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.accountNumber" | translate}}:</div>
      <div>{{requestData?.jci_accountnumber}}</div>
    </div>
    <div class="padding-16"></div>
    <div class="personal-info">
      <div><b>{{"SERVICES.RequestStatus" | translate}}:</b></div>
      <div>{{requestData?.jci_status}}</div>
    </div>
  </div>

  <!-- Contract Details-->
  <div *ngIf="requestType == 'ContractRequest'">
    <div class="personal-info">
      <div>{{"SERVICES.Name" | translate}}:</div>
      <div>{{requestData?.jci_firstname}} {{requestData?.jci_lastname}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Mobile" | translate}}:</div>
      <div>{{requestData?.jci_mobile}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Email" | translate}}:</div>
      <div>{{requestData?.jci_email}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Region" | translate}}:</div>
      <div>
        {{requestData?.jci_region ? ( translate.currentLang == 'ar' ?
        requestData?.jci_region?.name : requestData?.jci_region?.nameEn ) : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.City" | translate}}:</div>
      <div>
        {{requestData?.jci_city ? ( translate.currentLang == 'ar' ?
        requestData?.jci_city?.name : requestData?.jci_city?.nameEn) : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.SERVICE-REQUEST.ACType" | translate}}:</div>
      <div>
        {{requestData?.jci_actype ? requestData?.jci_actype?.name : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.SERVICE-REQUEST.Units" | translate}}:</div>
      <div>{{requestData?.jci_unitscount}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.issue" | translate}}:</div>
      <div>
        {{requestData?.jci_issue ? ( translate.currentLang == 'ar' ?
        requestData?.jci_issue?.name : requestData?.jci_issue?.nameEn) : ''}}
      </div>
    </div>
    <div class="padding-16"></div>
    <div class="personal-info">
      <div>{{"SERVICES.SERVICE-REQUEST.ProjectCode" | translate}}:</div>
      <div>{{requestData?.jci_projectcode}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.SERVICE-REQUEST.Location" | translate}}:</div>
      <div>{{requestData?.jci_customerlocation.name}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.contract" | translate}}:</div>
      <div>{{requestData?.jci_contractnumber}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.accountNumber" | translate}}:</div>
      <div>
        {{requestData?.jci_accountnumber ||
        requestData?.jci_contractaccountnumber}}
      </div>
    </div>
    <div class="padding-16"></div>
    <div class="personal-info">
      <div>{{"SERVICES.Description" | translate}}:</div>
      <div>{{requestData?.jci_comments}}</div>
    </div>
    <div class="padding-16"></div>
    <div class="personal-info">
      <div><b>{{"SERVICES.RequestStatus" | translate}}:</b></div>
      <div>{{requestData?.jci_status}}</div>
    </div>
  </div>

  <!-- Service Details-->
  <div *ngIf="requestType == 'CaseRequest'">
    <div class="personal-info">
      <div>{{"SERVICES.Name" | translate}}:</div>
      <div>{{requestData?.jci_firstname}} {{requestData?.jci_lastname}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Mobile" | translate}}:</div>
      <div>{{requestData?.jci_mobile}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Email" | translate}}:</div>
      <div>{{requestData?.jci_email}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Region" | translate}}:</div>
      <div>
        {{requestData?.jci_region ? ( translate.currentLang == 'ar' ?
        requestData?.jci_region?.name : requestData?.jci_region?.nameEn) : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.City" | translate}}:</div>
      <div>
        {{requestData?.jci_city ? ( translate.currentLang == 'ar' ?
        requestData?.jci_city?.name : requestData?.jci_city?.nameEn) : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.SERVICE-REQUEST.UnitWarranty" | translate}}:</div>
      <div>
        {{requestData?.jci_isunderwarranty == 'True' ? ("SERVICES.yes" |
        translate) : ("SERVICES.no" | translate)}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.SERVICE-REQUEST.ACType" | translate}}:</div>
      <div>
        {{requestData?.jci_actype ? requestData?.jci_actype?.name : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.SERVICE-REQUEST.Units" | translate}}:</div>
      <div>{{requestData?.jci_unitscount}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.SERVICE-REQUEST.InvoiceDate" | translate}}:</div>
      <div>{{requestData?.createdon}}</div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.issue" | translate}}:</div>
      <div>
        {{requestData?.jci_issue ? ( translate.currentLang == 'ar' ?
        requestData?.jci_issue?.name : requestData?.jci_issue?.nameEn) : ''}}
      </div>
    </div>
    <div class="personal-info">
      <div>{{"SERVICES.Description" | translate}}:</div>
      <div>{{requestData?.jci_comments}}</div>
    </div>
    <div class="padding-16"></div>
    <div class="personal-info">
      <div><b>{{"SERVICES.RequestStatus" | translate}}:</b></div>
      <div>{{requestData?.jci_status}}</div>
    </div>
  </div>
</ion-content>

<!-- footer -->
<app-footer></app-footer>
