<ion-header>
  <header></header>
</ion-header>

<ion-content>
  <div class="main-content">
    <div class="page-subTitle">{{"CUSTOMERPASS.Change Pass" | translate}}</div>
    
    <form #customerPasswordForm="ngForm">
      <ion-row>
        <ion-label class="app-label required">{{"CUSTOMERPASS.Current Pass" | translate}}</ion-label>
        <input type="password" name="currentPass" class="input" placeholder="{{'CUSTOMERPASS.Current Pass' | translate}}" [(ngModel)]="oldPassword" required />
      </ion-row>
      <div class="padding-8"></div>
      <ion-row>
        <ion-label class="app-label required">{{"CUSTOMERPASS.New Pass" | translate}}</ion-label>
        <input type="password" name="newPass" class="input" placeholder="{{'CUSTOMERPASS.New Pass' | translate}}" minlength="6" [(ngModel)]="newPassword" required />
      </ion-row>
      <div class="padding-8"></div>
      <ion-row>
        <ion-label class="app-label required">{{"CUSTOMERPASS.Confirm Pass" | translate}}</ion-label>
        <input type="password" name="confirmPass" class="input" placeholder="{{'CUSTOMERPASS.Confirm Pass' | translate}}" minlength="6" [(ngModel)]="confirmPassword" required />
      </ion-row>

      <div *ngIf="( newPassword != confirmPassword)
           && (customerPasswordForm.form.controls['confirmPass'].dirty)"
           class="error-msg">
        {{"CUSTOMERPASS.PassErrorMsg" | translate}}
      </div>

      <div class="padding-4"></div>

      <div *ngIf="customerPasswordForm.invalid" class="required-msg">
      </div>

      <div class="padding-8"></div>

      <ion-row>
        <button ion-button block color="primary"
                [disabled]="customerPasswordForm.invalid || (newPassword != confirmPassword)"
                (click)="onClickChangePassword()">
          {{"CUSTOMERPASS.Confirm" | translate}}
        </button>
      </ion-row>
    </form>
  </div>
</ion-content>



<!-- footer -->
<app-footer></app-footer>
