page-success {
    @font-face {
        font-family: "Maurea-BoldLf";
        src: url("fonts/Maurea-BoldLf.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: "MaureaJciLfML-Medium";
        src: url("fonts/MaureaJciLfML-Medium.otf") format("opentype");
        font-weight: lighter;
        font-style: normal;
      }
      @font-face {
        font-family: "MaureaJciLfML-Regular";
        src: url("fonts/MaureaJciLfML-Regular.otf") format("opentype");
        font-weight: lighter;
        font-style: normal;
      }
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      html {
        overflow-x: hidden;
      }
      h1,
      h2,
      h3,
      h4,
      p {
        color: #085697;
      }
      h2,
      h3 {
        font-family: "Maurea-BoldLf";
      }
      p {
        font-family: "MaureaJciLfML-Medium";
      }
      span {
        font-family: "MaureaJciLfML-Regular";
      }
      .hero-bg {
        background: url("https://york.com.sa/images/uploaded/media-center/scratch-new.jpg")
          center center no-repeat;
        background-size: cover;
        width: 100%;
        height: 100;
        position: relative;
      }
      .thank-you {
        font-family: "Maurea-BoldLf";
        color: #151515;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -60%);
        width: 100%;
      }
      .thank-you .success-img img,
      .thank-you .flow .winy img {
        width: 100%;
        height: 100%;
      }
      .scratch .win {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }
      .scratch .win .des h2 {
        font-size: 38px;
        font-weight: bold;
        padding-bottom: 20px;
      }
      .scratch .win .des h2 {
        font-size: 38px;
        font-weight: bold;
        padding-bottom: 20px;
      }
      .scratch .win .des h4,
      .scratch .win .des p {
        font-size: 20px;
      }
      .scratch .win .des p {
        text-align: center;
        padding: 15px 0;
      }
      .scratch .infos h4 {
        padding-bottom: 10px;
        font-size: 18px;
      }
      .info p {
        margin: 10px auto;
      }
      .box span {
        display: block;
        position: absolute;
        width: 60px;
        height: 60px;
        background: #fff;
        pointer-events: none;
        border-radius: 50%;
      }
      .box p {
        padding: 30px 40px 15px;
        z-index: 1;
        color: #000;
      }
      .icon-pin::before {
        content: "\1433";
      }

      .thank-you .flow {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .thank-you .num {
        margin-top: 30px;
      }
      .thank-you .num .serial {
        font-weight: bold;
      }
      .thank-you .flow .winy {
        width: 200px;
        height: auto;
        margin: 5px auto;
      }
      .scratch .win .infos h3 {
        font-family: "Maurea-BoldLf" !important;
      }
      .thank-you .flow {
        margin-top: 150px;
      }
      @media screen and (max-width: 767px) {
        .thank-you {
          font-family: "GEDinarOne-Bold";
          color: #151515;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }
        .scratch .info h3 {
          font-size: 32px;
        }
        .thank-you .flow {
          grid-template-columns: 1fr;
        }
        .thank-you .flow .winy {
          margin: 0 auto 20px;
        }
        .scratch .box {
          width: 100%;
        }
        .flip {
          width: 100%;
          height: 100% !important;
        }
        .pins p {
          text-align: center !important;
        }
        .flip img {
          width: 100% !important;
          height: 100%;
          background-size: cover;
          object-fit: fill;
        }
        .shape-img {
          padding: 10px 10px 60px;
        }
        .shape-img,
        .shape-img img {
          height: 100% !important;
        }
        .shape-btn {
          bottom: 5px;
          left: 28px !important;
        }
        .pins img {
          left: 7% !important;
        }
      }
      @media screen and (max-width: 340px) {
        .thank-you {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -63%);
          width: 100%;
        }
        .scratch .win .des h2 {
          font-size: 26px;
        }
        .thank-you .flow {
          margin-top: 100px;
        }
        .boxs {
          width: 100% !important;
          height: 45px;
        }
        .form h2 {
          font-size: 18px !important;
          margin-top: 18px !important;
        }
      }
}
