our-services .page-image {
  background-color: rgba(0, 0, 0, 0.12);
}

our-services .option-item {
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
  margin-bottom: 24px;
  cursor: pointer;
}

our-services .option-item .icon-container {
  width: 96px;
  height: 96px;
  background-color: #00539e;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

our-services .option-item .icon-container img {
  max-width: 100%;
}

our-services .option-item .text {
  color: #1764A7;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

.alert-small-red {
  padding-top: 8px;
  color: red;
  text-align: center;
  font-size: 12px;
}
